<li class="comment-block <%= comment.document_id.nil? ? 'comment--unpublished' : 'comment--published' %>">
  <h4><% comment.organizations.each do |org| %>
    <%= link_to org.name, org %><%= "," if org != comment.organizations.last %>
  <% end %></h4>
  <% if comment.document_id.nil? %>
  <p>
    Die Stellungnahme zu diesem Gesetz ist noch nicht öffentlich.
    <%= link_to 'Jetzt anfragen.', "https://fragdenstaat.de/kampagne/gesetze/?q=#{@law.title}" %>
  </p>
  <% else %>
  <%= link_to 'zur Stellungnahme', [@law, comment] %>
  <% end %>
</li>