<p id="notice"><%= notice %></p>

<h1>Comments</h1>

<table>
  <thead>
    <tr>
      <th>Law</th>
      <th>Draft</th>
      <th>Document</th>
      <th>Asked at</th>
      <th>Answered at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.law %></td>
        <td><%= comment.draft %></td>
        <td><%= comment.document %></td>
        <td><%= comment.asked_at %></td>
        <td><%= comment.answered_at %></td>
        <td><%= link_to 'Show', [@law, comment] %></td>
        <td><%= link_to 'Edit', edit_law_comment_path(@law, comment) %></td>
        <td><%= link_to 'Destroy', [@law, comment], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_law_comment_path(@law) %>
