<%
orgs = @comment.organizations.map { |o| o.name }
the_title = "#{orgs.join(', ')}: #{@law.title}"

title the_title
desc = "Stellungnahme von #{orgs.join(', ')} zu #{@law.title}"
description desc
opengraph do |graph|
  graph.title the_title
  graph.description desc
end
twitter_card('summary') do |card|
  card.title the_title
  card.description desc
end

%>

<header class="page-header law-header comment-header">
  <div class="container">
    <p class="comment-meta">
      Stellungnahme von <% @comment.organizations.each do |org| %>
        <%= link_to org.name, org %><%= "," if org != @comment.organizations.last %>
      <% end %> zu</p>
    <h2><%= link_to @law.title, @law %></h2>
    <p class="law-meta">von <% @law.ministries.each do |ministry| %>
      <%= link_to ministry.full_name, ministry %><%= "," unless ministry == @law.ministries.last %>
      <% end %>
    </p>
  </div>
</header>

<div class="container">
  <% if @comment.document.nil? %>
  <p>
    Die Stellungnahme für dieses Gesetz ist noch nicht öffentlich.
    <%= link_to 'Jetzt anfragen.', "https://fragdenstaat.de/kampagne/gesetze/?q=#{@law.title}" %>
  </p>
  <% else %>
  <embed src="<%= @comment.document.file.url %>" width="100%" height="500" type='application/pdf' />
  <p><strong>Quelle:</strong> <%= link_to @comment.document.source_url, @comment.document.source_url, class: 'source-link' %></p>
  <% end %>

  <% if @comment.asked_at %>
  <p><strong>Um Stellungnahme gebeten am:</strong> <%= l @comment.asked_at %></p>
  <% end %>
  <% if @comment.answered_at %>
  <p><strong>Stellungnahme abgegeben am:</strong> <%= l @comment.answered_at %></p>
  <% end %>
</div>

<% if authenticated? %>
<div class="container">
  <p id="notice"><%= notice %></p>
  <p class="admin-controls">
    <%= link_to 'Edit', edit_law_comment_path(@law, @comment) %> |
    <%= link_to 'Back', law_path(@law) %>
  </p>
</div>
<% end %>