<header class="page-header law-header comment-header">
  <div class="container">
    <p class="comment-meta">
      Stellungnahme von <% @comment.organizations.each do |org| %>
        <%= link_to org.name, org %><%= "," if org != @comment.organizations.last %>
      <% end %> zu</p>
    <h2><%= link_to @law.title, @law %></h2>
    <p class="law-meta">von <% @law.ministries.each do |ministry| %>
      <%= link_to ministry.full_name, ministry %><%= "," unless ministry == @law.ministries.last %>
      <% end %>
    </p>
  </div>
</header>

<div class="container">
  <% if @comment.document.nil? %>
  <p>Die Stellungnahme für dieses Gesetz ist noch nicht öffentlich. Jetzt anfragen.</p>
  <% else %>
  <p><strong>Quelle:</strong> <%= link_to @comment.document.source_url, @comment.document.source_url %></p>
  <% end %>

  <p>
    <strong>Asked at:</strong>
    <%= l @comment.asked_at %>
  </p>

  <p>
    <strong>Answered at:</strong>
    <%= l @comment.answered_at %>
  </p>
</div>

<div class="container">
  <p id="notice"><%= notice %></p>
  <p class="admin-controls">
    <%= link_to 'Edit', edit_law_comment_path(@law, @comment) %> |
    <%= link_to 'Back', law_path(@law) %>
  </p>
</div>
