<p id="notice"><%= notice %></p>

<p>
  <strong>Law:</strong>
  <%= @comment.law %>
</p>

<p>
  <strong>Draft:</strong>
  <%= @comment.draft %>
</p>

<p>
  <strong>Document:</strong>
  <%= @comment.document %>
</p>

<p>
  <strong>Asked at:</strong>
  <%= @comment.asked_at %>
</p>

<p>
  <strong>Answered at:</strong>
  <%= @comment.answered_at %>
</p>

<%= link_to 'Edit', edit_law_comment_path(@law, @comment) %> |
<%= link_to 'Back', law_comments_path(@law) %>
