<%= form_with(model: ministry, local: true) do |form| %>
  <% if ministry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ministry.errors.count, "error") %> prohibited this ministry from being saved:</h2>

      <ul>
      <% ministry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :ministry_name %>
  </div>

  <div class="field">
    <%= form.label :short_name %>
    <%= form.text_field :short_name, id: :ministry_short_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
