<header class="page-header">
  <div class="container">
    <h2><%= @ministry.name %> <% unless @ministry.short_name.blank? %>(<%= @ministry.short_name %>)<% end %></h2>

    <p>Das Ministerium hat <%= @ministry.laws.count %> Gesetze entworfen.</p>
  </div>
</header>

<div class="container">
  <ul class="law-list">
    <%= render partial: 'laws/law', collection: @ministry.laws %>
  </ul>
</div>

<% if authenticated? %>
<div class="container">
  <p id="notice"><%= notice %></p>
  <p class="admin-controls"><%= link_to 'Edit', edit_ministry_path(@ministry) %></p>
</div>
<% end %>