<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ministry.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @ministry.slug %>
</p>


<p>
  <strong>Short Name:</strong>
  <%= @ministry.short_name %>
</p>

<%= link_to 'Edit', edit_ministry_path(@ministry) %> |
<%= link_to 'Back', ministries_path %>
