<header class="page-header">
  <div class="container">
    <h2><mark><%= @org_count %></mark> Verbände wurden in den letzten <mark><%= time_ago_in_words(@first_comment.asked_at, scope: :'datetime.distance_in_words_letzten').gsub(/\s/, '&nbsp;').html_safe %></mark> an&shy;ge&shy;fragt,
    Stellung&shy;nahmen zu <mark><%= @law_count %>&nbsp;Ge&shy;setzen</mark> zu schreiben</h2>

    <!--
    <form action="/search" method="get">
      <div class="search-input-wrap">
        <label class="sr-only" for="q">Nach Verband suchen</label>
        <input type="search" class="search-input" id="q" name="q" placeholder="Nach Verband suchen"/>
      </div>
      <p class="search-examples">
        zum Beispiel <a href="/search?q=Volkswagen">Volkswagen</a> oder <a href="/search?q=Bitkom">Bitkom</a>
      </p>
    </form>
    -->
  </div>
</header>

<div class="container">
  <h3>Und hier ist eine Liste aller angefragten Verbände:</h3>
  <ol class="list-abc">
    <% @letters.each do |letter, urlkey| %>
      <li><%= link_to letter.upcase, "/#{urlkey}", class: letter == @letter ? 'active' : '' %></li>
    <% end %>
  </ol>

  <div class="abc-page">
    <h4><%= @letter.upcase %></h4>
    <ul class="list">
      <% @orgs.each do |org| %>
      <li><%= link_to org.name, org %></li>
      <% end %>
    </ul>
  </div>
</div>

<% if authenticated? %>
<div class="container">
  <p class="admin-controls"><%= link_to 'New Organization', new_organization_path %></p>
</div>
<% end %>