<%= form_with(model: law, local: true) do |form| %>
  <% if law.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(law.errors.count, "error") %> prohibited this law from being saved:</h2>

      <ul>
      <% law.errors.full_messages.each do |message| %>
        <li class="law-list"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_area :title, id: :law_title %>
  </div>

  <div class="field">
    <%= form.label :ministry_ids %>
    <%= form.collection_select :ministry_ids, Ministry.all, :id, :name, {}, { multiple: true, id: :law_ministry_ids } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
