<%
organization = false if organization.nil?
%>
<li class="law-block">
  <p class="law-ministries">
    <% law.ministries.each do |ministry| %>
    <%= link_to ministry.full_name, ministry %><%= "," unless ministry == law.ministries.last %>
    <% end %>
  </p>
  <h3><%= link_to law.title, law %></h3>
  <nav>
    <% if law.drafts.empty? %>
      <%= link_to 'Referentenentwurf anfragen', "https://fragdenstaat.de/kampagne/gesetze/?q=#{law.title}" %>
    <% else %>
      <%= link_to 'zum Referentenentwurf', law_path(law, anchor: 'draft') %>
    <% end %>
    &bull;
    <% if !organization %>
      <% if law.comments.empty? %>
        <%= link_to 'Stellungnahmen anfragen', "https://fragdenstaat.de/kampagne/gesetze/?q=#{law.title}" %>
      <% else %>
        <%= link_to t(:to_comments, count: law.comments.count), law_path(law, anchor: 'comments') %>
      <% end %>
    <% else %>
      <%# FIXME: link to comments of this org %>
      <%= link_to t(:to_comments, count: law.comments.count), law_path(law, anchor: 'comments') %>
    <% end %>
  </nav>
</li>