<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @law.id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @law.title %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @law.slug %>
</p>

<%= link_to 'Edit', edit_law_path(@law) %> |
<%= link_to 'Back', laws_path %> |
<%= link_to 'Drafts', law_drafts_path(@law) %> |
<%= link_to 'Comments', law_comments_path(@law) %>