<header class="page-header law-header">
  <div class="container">
    <h2><%= @law.title %></h2>
    <p class="law-meta">von <% @law.ministries.each do |ministry| %>
      <%= link_to ministry.full_name, ministry %><%= "," unless ministry == @law.ministries.last %>
      <% end %>
    </p>

    <nav>
      <ul class="nav nav-tabs" role="tablist" data-tabs>
        <li role="presentation" class="active">
          <a href="#drafts" aria-controls="drafts" role="tab" data-tab data-turbolinks="false"><span>Referentenentwurf</span></a>
        </li>
        <li role="presentation">
          <a href="#comments" aria-controls="comments" role="tab" data-tab data-turbolinks="false"><span><%= @law.comments.count %> Stellungnahmen</span></a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <div class="tab-content law-tab-content" data-tabs-content>
    <div role="tabpanel" class="tab-pane active tab-draft" data-tabs-pane id="drafts">
      <% @law.drafts.each do |draft| %>
        <p><strong>Published at:</strong> <%= l draft.published_at %></p>
        <% if draft.document.nil? %>
        <p>Der Referentenentwurf für dieses Gesetz ist noch nicht öffentlich. Jetzt anfragen.</p>
        <% else %>
        <p><strong>Quelle:</strong> <%= link_to draft.document.source_url, draft.document.source_url %></p>
        <% end %>
      <% end %>
    </div>
    <div role="tabpanel" class="tab-pane tab-comments" data-tabs-pane id="comments">
      <% if @law.comments.size > 0 %>
      <ul class="comments-list">
      <%= render partial: 'comments/comment', collection: @law.comments %>
      </ul>
      <% else %>
      <p>Es sind noch keine Stellungnahmen zu diesem Gesetz bekannt.</p>
      <% end %>
    </div>
  </div>
</div>

<% if authenticated? %>
<div class="container">
  <p id="notice"><%= notice %></p>
  <p class="admin-controls">
    <%= link_to 'Edit', edit_law_path(@law) %> |
    Drafts: <%= link_to 'New Draft', new_law_draft_path(@law) %> |
    Comments: <%= link_to 'New Comment', new_law_comment_path(@law) %>
  </p>
</div>
<% end %>