<header class="page-header">
  <div class="container">
    <h2><%= @organization.name %></h2>

    <p>Der Verband wurde für <%= @organization.comments.map(&:law).uniq.count %> Gesetze angefragt.</p>
  </div>
</header>

<div class="container">
  <ul class="law-list">
    <%= render partial: 'laws/law', collection: @organization.laws, locals: { organization: @organization } %>
  </ul>
</div>

<% if authenticated? %>
<div class="container">
  <p id="notice"><%= notice %></p>
  <p class="admin-controls"><%= link_to 'Edit', edit_organization_path(@organization) %></p>
</div>
<% end %>