<div class="container">
<h1>Drafts</h1>

<table>
  <thead>
    <tr>
      <th>Law</th>
      <th>Published at</th>
      <th>Document</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drafts.each do |draft| %>
      <tr>
        <td><%= draft.law %></td>
        <td><%= draft.published_at %></td>
        <td><%= draft.document %></td>
        <td><%= link_to 'Show', [@law, draft] %></td>
        <td><%= link_to 'Edit', edit_law_draft_path(@law, draft) %></td>
        <td><%= link_to 'Destroy', [@law, draft], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<% if authenticated? %>
<div class="container">
  <p id="notice"><%= notice %></p>
  <p class="admin-controls">
    <%= link_to 'New Draft', new_law_draft_path(@law) %>
  </p>
</div>
<% end %>