<p id="notice"><%= notice %></p>

<p>
  <strong>Law:</strong>
  <%= @draft.law %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @draft.published_at %>
</p>

<p>
  <strong>Document:</strong>
  <%= @draft.document %>
</p>

<%= link_to 'Edit', edit_law_draft_path(@law, @draft) %> |
<%= link_to 'Back', law_path(@law) %>
